h6, h3 {
    color: rgb(11, 0, 128);
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: justify;
  }

code {
  font-size: 12px;
  color: #141619;
  word-wrap: break-word;
}

li{
    font-size: 12px;
}

/* Style the header */
header {
    background-color: #666;
    text-align: center;
  }

section {
    padding: 2px 10px 2px 50px;
}

#conteudo{
  width: 90%;
  margin: auto;
}

.explicacao{
  width: 80%;
}

.destaque{
  color: red;
}

/* link ainda não visitado */
a:link {
  color: green;
}

/*  link visitado */
a:visited {
  color: green;
}

/* mouse sobre o link */
a:hover {
  color: red;
}

/* Link clicado */
a:active {
  color: yellow;
}

footer {
  background-color: rgb(33, 36, 100);
  text-align: center;
  color: white;
}

table, th, td {
  border:1px solid black;
  text-align: center;
}